header{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1 / span 12;
    /* background: -webkit-linear-gradient(0deg,#E6F2F1 70%, #26F089 90%); */
    /* border-bottom: 1px solid gray; */
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;

}
  

header div#logo-area{
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 10;
    justify-self: left;
}

header div#logo-area img#logo{  
    object-fit: fill;
    width: 5rem;
    height: 3rem;
    position: relative;
}

header div#logo-area h1#company-name{
    margin-left: .5em;
    font-size: 1em;
}

header button#menu-button{
    grid-column: 12 / span 1;
    justify-self: center;
    align-self: center;
    width: 2.5em;
    height: 2.5em;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: 0px;
}

header button#menu-button svg{
    width: 1em;
    height: 1em;
    object-fit: contain;
}
@media (max-width: 600px) {
    header button#menu-button{
        grid-column: 11 / span 2;
        justify-self: center;
        align-self: center;
    }
  }