html{
  font-size: 30px;
}

#root{
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

body{
  /* background: -webkit-linear-gradient(#E6F2F1 0%,#9EF5AB 80%, #26F089 100%); */
  background-color: #E6F2F1;
  height: 100vh;
  margin: 0px;
}

@media (max-width: 600px) {
  html{
    font-size: 15px;
  }
}